#left_body .marker_info{
    height: 62%;
    top: 0;
    right: -400px;
    z-index: 1;
    width: 400px;
    background: #fff;
    overflow-x: hidden;
    transition: ease all 0.3s;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

#left_body .marker_info.vis {
    visibility: visible;
    right: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 20px;
}

.marker_info .marker_info_txt strong.marker_title {
    font-size: 24px;
    display: block;
    padding-bottom: 5px;
}

.marker_info .marker_info_txt .marker_address {
    font-size: 14px;
}

.marker_info .marker_info_txt svg {
    color:#1e0e24;
}

.marker_address_number {
    font-size: 14px;
    color: #999;
    vertical-align: middle;
    padding-top: 6px;
}


.dealings_list {
    margin: 30px 30px 30px 30px;
}

.actual_price_graph span.tit_txt#defaultwords {
    border-top: 0;
}

.actual_price_graph span.tit_txt#sameprcwords {
    padding-top: 20px;
    margin-top: 20px;
}

.actual_price_graph span.tit_txt {
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    margin: 0 25px 0 25px;
    padding-top: 23px;
    border-top: solid 1px #eaeaea;
}

.actual_price_graph .selectarea .selectBox select {
    /* width: 100%; */
    font-size: 14px;
    font-weight: normal;
    color: #000;
    padding: 10px 24px 9px 9px;
    border: 1px solid #eaeaea;
    box-sizing: border-box;
    border-radius: 0px;
    line-height: 1.3;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-left:20px;
    cursor: pointer;
    background: none\9;
}

table.table_style {
    width: 119%;
    table-layout: fixed;
    margin-left: -29px;
    text-align: center;
}

colgroup {
    display: table-column-group;
}


thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
table.table_style thead th {
    font-size: 14px;
    color: #777;
    font-weight: normal;
    padding: 11px 0 11px 0;
    text-align: center;
    border-bottom: 1px solid #eaeaea;
}

table.table_style tbody td {
    border-top: 1px solid #eaeaea;
    padding: 12px 10px 12px;
    font-size: 12px;
    letter-spacing: 0;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}


.price_box {
    font-size: 15px;
    border-top: solid 1px #eaeaea;
    padding-top: 20px;
    margin: 20px 15px 50px 15px;
}


.price_box dl {
    overflow: hidden;
    margin-bottom: 0px;
}

.price_box dl dt {
    display: inline-block;
    float: left;
    font-size: 13px;
    color: #949494;
}

.price_box dl dd {
    display: inline-block;
    float: right;
    font-weight: bold;
    color: #00bf71;
}


.price_box .price_box_title {
    position: relative;
    font-weight: bold;
    padding-bottom: 15px;
}