/* #toolbar {
    width:100%;
    height:10%;
    background-color: #3c304b;
    position: relative;
    text-align: center;
    color: #fff;
    transition: ease all 0.3s;
    z-index: 2;
} */

.bottom_city_box {
    position: relative;
    width: 100%;
    height: 10%;
    text-align: center;
    color: #fff;
    background-color: #1e0e24;

    transition: ease all 0.3s;
    z-index: 2;
}

.bottom_city_box .select_txt i.ic_location {
    display: inline-block;
    width: 18px;
    height: 24px;
    background-position: -1px -29px;
    background-size: 200px;
    margin: 21px 6px 0 0;
    vertical-align: middle;
}

.bottom_city_box span.select_step02 {
    color: #00bf71;
    opacity: 1;
}

.bottom_city_box .select_txt span {
    display: inline-block;
    padding-top: 31px;
    vertical-align: middle;
}
.bottom_city_box .select_txt svg {
    margin-top: 31px;
}
.bottom_city_box .select_txt {
    height: 100%;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

